<ion-header  class="ion-no-border fade-in">
  <ion-toolbar color="translucent">
  <ion-buttons slot="start" >
  <ion-menu-button  class="title-intro" ><ion-icon name="musical-note" ></ion-icon></ion-menu-button>
  </ion-buttons>
  <ion-title class="ion-text-center title-intro">Band Detail</ion-title>
 
          <ion-buttons slot="end">
<!-- Search -->
          <ion-button class="badge-button lupa  fade-in"  (click)="openSearchModal()"   contentId="maintwo"  menuId="four">
          <ion-icon name="search-outline" color="light"></ion-icon>
          </ion-button>
          </ion-buttons>
</ion-toolbar>
</ion-header>