

<ion-content [fullscreen]="true">


  <app-back></app-back>
  <app-header></app-header>

  <br>
  <ion-grid  class="ion-no-padding" >
  <ion-slides class="swiper-container" pager= false [options]="slideOption" #slidesOne >

    <ion-slide *ngFor="let category of categories | async " (click)="openDetail('music-list',category.id)">
      <ion-card class="music-main-h-card music-card2 slide-left fade-in-left"  >
      
            <div class="music-card2-bg ion-text-uppercase" [ngStyle]="{'background-image': 'url(' + category.image+ ')'}" >
                <h2 class="card2-title">   <br><br><br>{{category.name}}</h2>                           
            </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
 

<ion-item lines="none" class=" margin-left-0">
  <ion-buttons >
    <ion-button  color="translucent" mode="ios" class="main-header8-500 " >
      All
    </ion-button>
    <ion-button  color="translucent" mode="ios"  class="main-header8-500" >
      Song
    </ion-button>
    <ion-button  color="translucent" mode="ios" class="main-header8-500"  >
      Albums
    </ion-button>
    <ion-button  color="translucent" mode="ios"  class="main-header8-500" >
      Artist
    </ion-button>
  </ion-buttons>
</ion-item>






  <div *ngIf="this.router.url === '/folder/Bands%20Rock'"> 
    <ion-item lines="none">
      <label>
        <h1 class="letterinicio " style="margin-bottom:-10px;">Popular Song</h1>
    
        <!-- ///Agregar nuevo elemento a la base de datos -->
        <!-- <ion-button color="" fill="blank" expand="full" (click)="agg()">agg</ion-button> -->
      </label>
      </ion-item>
      
  <ion-slides class="swiper-container" pager= false [options]="slideOption" #slidesOne >
    <ion-slide *ngFor="let popular of Popular | async " (click)="openDetail('music-list',popular.id)">
      <ion-card class="music-main-h-card music-card0 slide-left fade-in-left"  >
      
            <div class="music-card0-bg ion-text-uppercase" [ngStyle]="{'background-image': 'url(' + popular.image+ ')'}" >
                <h2 class="card2-title">   <br><br><br>{{popular.name}}</h2>                           
            </div>
      </ion-card>
    </ion-slide>
  </ion-slides>

 


</div>

  </ion-grid>
  <br><br><br><br><br><br><br><br><ion-item lines="none">
    <label>
      <h1 class="letterinicio " style="margin-top:-25px; z-index: 2;">Play Lists</h1>
    </label>
    </ion-item>
    
  
      <ion-list style="margin-top:-25px; z-index: 4;">
        <ion-item >
          
          <ion-avatar slot="start">
            <img src="" alt="no">
          </ion-avatar>
            
          <ion-label>
            <h2>Luke</h2>
            <p>I feelp>
          </ion-label>
          <ion-thumbnail class="ion-text-center" slot="end">
            <br>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-thumbnail>
        </ion-item>
      </ion-list>
  
  









</ion-content>
