

<ion-content [fullscreen]="true">
<ion-grid  class="ion-no-padding" >


 <!-- /////////// -->
 <!-- Inicio-->
 <!-- /////////// -->  
 <div *ngIf="this.router.url === '/folder/Inicio'">  
<!-- background -->
 <app-back></app-back>
 <!-- header -->
 <app-header></app-header>
<!-- Section1 ('big' Carrousel )-->
<app-section-one></app-section-one>
  <!-- buttons -->
<app-buttons-start></app-buttons-start>
<!-- section2 (Mini Carrousel) -->
<section-two></section-two>
<!-- section3 (Playlists) -->
<app-section-three></app-section-three>
 </div>



 <!-- /////////// -->
 <!--  Rock Bands-->
 <!-- /////////// -->

 <div *ngIf="this.router.url === '/folder/Rock%20Bands'">
  <app-back-short></app-back-short>
  <app-header></app-header>
  <app-band-rock></app-band-rock>
  </div>




 





</ion-grid>
</ion-content>
