.playlists{
 z-index: 1 !important; margin-top: -35px !important; position: absolute;
}
.lomasescuchado{
 margin-top: -10px !important; margin-bottom: 25px !important;
}
.minicarrousel{
margin-top:-15px; position: relative; z-index: 4;
}