

<ion-content class="centro">
<div class="fondologin"></div>
  
<br>
<div class="center"><ion-icon name="planet" color="light" class="imagenintro"></ion-icon></div>
  
  
<div class="card">
<ion-card class="card2">
<ion-card-content>

<div class="center"><img src="assets/img/forgotpassword.svg" alt=""  class="resetpass"></div>
<br>

<h1 class="ion-text-center"> ¡Será Sencillo! </h1>
<div color="light">
<form>
<ion-item lines="full">
<ion-label position="floating">Email</ion-label>
<ion-input type="text" #email required></ion-input>
</ion-item>

<ion-row>
<ion-col>
<ion-button type="submit" 
(click)="onResetPassword(email)" 
expand="block"
color="light"
mode="ios">Restablecer</ion-button>
</ion-col>
</ion-row>
</form>
</div>
</ion-card-content>
</ion-card>
</div>
<br>
      
  
<ion-row>
<ion-col>
<ion-button
class="ion-text-center" 
routerLink="/music-login"
expand="block"
color="light"
mode="ios">Login
</ion-button>
</ion-col>
</ion-row>
  

  </ion-content>