

//*************************************//
//******** Typography ***********//
//*************************************//
p{
      line-height: 1.4 !important;
  }
  .main-header10{
      font-size: 18px !important;
      font-weight: 300 !important;
  }
  .main-header9{
      //letter-spacing: -1px;
      font-size: 12px !important;
      font-weight: 300 !important;
  }
  .main-header8{
      //letter-spacing: -1px;
      font-size: 14px!important; 
      font-weight: 300 !important;
  }
  .main-header8-500{
      //letter-spacing: -1px;
      font-size: 8px!important; 
      font-weight: 500 !important;
      color: #66656596;
  }
  .main-header7{
      //letter-spacing: -1px;
      font-size: 16px !important;
      font-weight: 300 !important;
  }
  .main-header6{
      //letter-spacing: -1px;
      font-size: 18px !important;
      font-weight: 300 !important;
  }
  .main-header5{
      //letter-spacing: -1px;
      font-size: 20px !important;
      font-weight: 300 !important;
  
  //     letter-spacing: -1px;
  //     font-size: 17px !important;
  //     font-weight: 400 !important;
  }
  .main-header4{
      //letter-spacing: -1px;
      font-size: 22px !important;
      font-weight: 300 !important;
  
  //     letter-spacing: -1px;
  //     font-size: 17px !important;
  //     font-weight: 400 !important;
  }
  .main-header3{
      //letter-spacing: -1px;
      font-size: 26px !important;
      font-weight: 300 !important;
  }
  .main-header2{
      letter-spacing: -1px;
      font-size: 28px !important;
      font-weight: 300 !important;
  }
  .main-header1{
      letter-spacing: -1px;
      font-size: 30px !important;
      font-weight: 300;
  }
  .main-header0{
      letter-spacing: -1px;
      font-size: 34px !important;
      font-weight: 300 !important;
  }
  .main-b-header1{
      letter-spacing: -1px;
      font-size: 30px !important;
      font-weight: 500 !important;
  }
  .main-b-header2{
      letter-spacing: -1px;
      font-size: 28px !important;
      font-weight: 500 !important;
  }
  .main-b-header3{
      //letter-spacing: -1px;
      font-size: 26px !important;
      font-weight: 500 !important;
  }
  .main-b-header4{
      //letter-spacing: -1px;
      font-size: 24px !important;
      font-weight: 500 !important;
  }
  .main-b-header5{
     // letter-spacing: -1px;
      font-size: 22px !important;
      font-weight: 500 !important;
  }
  .main-b-header6{
      //letter-spacing: -1px;
      font-size: 20px !important;
      font-weight: 500 !important;
  }
  .main-b-header7{
      //letter-spacing: -1px;
      font-size: 18px !important;
      font-weight: 500 !important;
  }
  
  .main-b-header8{
      //letter-spacing: -1px;
      font-size: 16px !important;
      font-weight: 500 !important;
  }
  .main-b-header9{
      //letter-spacing: -1px;
      font-size: 14px !important;
      font-weight: 500 !important;
  }
  .main-para0{
      font-size: 14px !important;
      font-weight: 500 !important;
      color: #444444 !important;
  }
  .main-para1{
      letter-spacing: 1px;
      font-size: 14px !important;
      font-weight: 500 !important;
      color: #444444 !important;
  }
  .main-para2{
      letter-spacing: 1px;
      font-size: 16px !important;
      font-weight: 500 !important;
      color: #444444 !important;
  }
  
  
  //*************************************//
  //******** Typography ***********//
  //*************************************//
  p{
    //  color: #666666 !important;
      line-height: 1.4 !important;
  }
  .main-header10{
      font-size: 18px !important;
      font-weight: 300 !important;
  }
  .main-header9{
      //letter-spacing: -1px;
      font-size: 12px !important;
      font-weight: 300 !important;
  }
  .main-header8{
      //letter-spacing: -1px;
      font-size: 14px!important; 
      font-weight: 300 !important;
  }
  .main-header8-500{
      //letter-spacing: -1px;
      font-size: 14px!important; 
      font-weight: 500 !important;
  }
  .main-header7{
      //letter-spacing: -1px;
      font-size: 16px !important;
      font-weight: 300 !important;
  }
  .main-header6{
      //letter-spacing: -1px;
      font-size: 18px !important;
      font-weight: 300 !important;
  }
  .main-header5{
      //letter-spacing: -1px;
      font-size: 20px !important;
      font-weight: 300 !important;
  
  //     letter-spacing: -1px;
  //     font-size: 17px !important;
  //     font-weight: 400 !important;
  }
  .main-header4{
      //letter-spacing: -1px;
      font-size: 22px !important;
      font-weight: 300 !important;
  
  //     letter-spacing: -1px;
  //     font-size: 17px !important;
  //     font-weight: 400 !important;
  }
  .main-header3{
      //letter-spacing: -1px;
      font-size: 26px !important;
      font-weight: 300 !important;
  }
  .main-header2{
      letter-spacing: -1px;
      font-size: 28px !important;
      font-weight: 300 !important;
  }
  .main-header1{
      letter-spacing: -1px;
      font-size: 30px !important;
      font-weight: 300;
  }
  .main-header0{
      letter-spacing: -1px;
      font-size: 34px !important;
      font-weight: 300 !important;
  }
  .main-b-header1{
      letter-spacing: -1px;
      font-size: 30px !important;
      font-weight: 500 !important;
  }
  .main-b-header2{
      letter-spacing: -1px;
      font-size: 28px !important;
      font-weight: 500 !important;
  }
  .main-b-header3{
      //letter-spacing: -1px;
      font-size: 26px !important;
      font-weight: 500 !important;
  }
  .main-b-header4{
      //letter-spacing: -1px;
      font-size: 24px !important;
      font-weight: 500 !important;
  }
  .main-b-header5{
     // letter-spacing: -1px;
      font-size: 22px !important;
      font-weight: 500 !important;
  }
  .main-b-header6{
      //letter-spacing: -1px;
      font-size: 20px !important;
      font-weight: 500 !important;
  }
  .main-b-header7{
      //letter-spacing: -1px;
      font-size: 18px !important;
      font-weight: 500 !important;
  }
  
  .main-b-header8{
      //letter-spacing: -1px;
      font-size: 16px !important;
      font-weight: 500 !important;
  }
  .main-b-header9{
      //letter-spacing: -1px;
      font-size: 14px !important;
      font-weight: 500 !important;
  }
  .main-para0{
      font-size: 14px !important;
      font-weight: 500 !important;
      color: #444444 !important;
  }
  .main-para1{
      letter-spacing: 1px;
      font-size: 14px !important;
      font-weight: 500 !important;
      color: #444444 !important;
  }
  .main-para2{
      letter-spacing: 1px;
      font-size: 16px !important;
      font-weight: 500 !important;
      color: #444444 !important;
  }



//****************************//
//******** Margin ***********//
//***************************//
.margin-top-0{
    margin-top: 0px !important;
  }
  .margin-top-3{
    margin-top: 3px !important;
  }
  .margin-top-5{
    margin-top: 5px !important;
  }
  .margin-top-10{
    margin-top: 10px !important;
  }
  .margin-top-15{
    margin-top: 15px !important;
  }
  .margin-top-25{
    margin-top: 25px !important;
  }
  .margin-bottom-0{
    margin-bottom: 0px !important;
  }
  .margin-bottom-3{
    margin-bottom: 3px !important;
  }
  .margin-bottom-5{
    margin-bottom: 5px !important;
  }
  .margin-bottom-10{
    margin-bottom: 10px !important;
  }
  .margin-bottom-15{
    margin-bottom: 15px !important;
  }
  .margin-bottom-20{
    margin-bottom: 20px !important;
  }
  .margin-all-5{
    margin: 5px !important;
  }
  .margin-all-10{
    margin: 10px !important;
  }
  .margin-all-15{
    margin: 15px !important;
  }
  
  .margin-right-0{
    margin-right: 0px !important;
  }
  .margin-right-5{
    margin-right: 5px !important;
  }
  .margin-right-8{
    margin-right: 8px !important;
  }
  .margin-right-10{
    margin-right: 10px !important;
  }
  .margin-right-15{
    margin-right: 15px !important;
  }
  .margin-left-0{
    margin-left: -10px !important;
  }
  .margin-left-5{
    margin-left: 5px !important;
  }
  .margin-left-8{
    margin-left: 8px !important;
  }
  .margin-left-10{
    margin-left: 10px !important;
  }
  .margin-0-28{
    margin: 0px 25px !important;
  }
  //****************************//
  //******** Padding ***********//
  //***************************//
  .padding-top-0{
    padding-top: 0px !important;
  }
  .padding-top-3{
    padding-top: 3px !important;
  }
  .padding-top-5{
    padding-top: 5px !important;
  }
  .padding-top-10{
    padding-top: 10px !important;
  }
  
  .padding-bottom-0{
    padding-bottom: 0px !important;
  }
  .padding-bottom-3{
    padding-bottom: 3px !important;
  }
  .padding-bottom-5{
    padding-bottom: 5px !important;
  }
  .padding-bottom-10{
    padding-bottom: 10px !important;
  }
  .padding-right-5{
    padding-right: 5px !important;
  }
  .padding-right-15{
    padding-right: 15px !important;
  }
  .padding-right-25{
    padding-right: 25px !important;
  }
  .padding-left-0{
    padding-left: 0px !important;
  }
  .padding-left-5{
    padding-left: 5px !important;
  }
  .padding-left-10{
    padding-left: 10px !important;
  }
  .padding-left-15{
    padding-left: 15px !important;
  }
  .padding-left-25{
    padding-left: 25px !important;
  }
  .padding-all-5{
    padding: 5px !important;
  }
  .padding-all-10{
    padding: 10px !important;
  }
  .padding-all-15{
    padding: 15px !important;
  }
 //********************************************//  
/****************** resources *******************/
 //********************************************//
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  //********************************************//
//******** music App styles **********//
//********************************************//


.music_space0{
  margin: 10px 0px 0px;
}
.music_space1{
  margin: 0px 0px 0px;
}
.music_space2{
  margin: 10px 0px;
}
.music_space3{
  margin: 10px 0px;
}
.music_space4{
  margin: 5px 15px;
}



.music_header1{
  margin-bottom: 2px !important;
  letter-spacing: -1px;
  font-size: 28px !important;
  font-weight: 700 !important;
}
.music_header2{ // user main_header3 instead //
  //color:#464646 !important;
  letter-spacing: -1px;
  font-size: 26px;
  font-weight: 300;
// disable this music_header2 //
//     letter-spacing: -1px;
//     font-size: 17px !important;
//     font-weight: 400 !important;
}

.music_header3{
  // color:#464646 !important;
  // letter-spacing: -1px;
  // font-size: 22px;
  // font-weight: 300;
  margin-top: 0px !important;
  padding-top: 0px !important;
  color:#999 !important;
  letter-spacing: -1px;
  font-size: 16px !important;
  font-weight: 400 !important;
}



.music_title1{
  //font-family:roboto;
  font-size: 17px;
  font-weight:600;
  color: #464646;
  margin-top: 12px;
}


// ************ Horizontal card ************//  


.main-h-card{
  display: inline-block;
  vertical-align: top; /* here */
  border-radius: 9px  !important;
  // remove shadow //
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0)  !important;
  box-shadow: 0 4px 16px rgba(0,0,0,0) !important;
}

.main-card-h{
  display: inline-block;
}
.main-card{
 border-radius: 3px  !important;
 vertical-align: top; /* here */
 // remove shadow //
 margin-left: 0px !important;
 margin-right: 0px !important;
 -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0)  !important;
 box-shadow: 0 4px 16px rgba(0,0,0,0) !important;
}


//****************************************//
//************* New music Card ************//
//****************************************//
.music-main-card{
  border-radius: 4px  !important;
  // remove shadow //
  margin-left: 0px !important;
  margin-right: 0px !important;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0)  !important;
  box-shadow: 0 4px 16px rgba(0,0,0,0) !important;
}
.music-card-tall{
  position: relative;
 // width:  120px !important;
  height:250px!important;
  //margin: 0px 5px 0px 5px !important;
  // background-color: #dddddd;
  //min-height: 150vh !important;
  //max-height: 160vh !important;
  margin:0px;
}
.music-div-tall-bg:before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
.music-div-tall-bg {
  border-radius: 9px  !important;
  position: relative;
  // width:  120px;
  height: 150px;
  background-color: #dddddd;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  background-position: center;
}

.music-card-tall-title {
  width: 100px;
  padding:0px 5px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // This is where the magic happens

  font-style: roboto;
  font-size: 24px;
  font-weight: 400;

  color: #FFFFFF;
  position: absolute;
  top: 45%;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 100%;
  text-align: center;
}
.music-card-tall-star {
  width: 133px !important;
  height:133px !important;

  padding:0px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // This is where the magic happens
  font-size: 16px;
  font-weight: normal;
  color: #FFFFFF;
  position: absolute;
  top: 55%;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 100%;
  text-align: center;
}



   //************ For grid layout ************//  
   .shop-card-tall-2  {
    position: relative;
   // width:  100% !important;
 //   padding: 0px 5px;
    height:100% !important; // include content 
     margin: 0px 5px 10px 5px !important;
    // background-color: #dddddd;
    //min-height: 150vh !important;
    //max-height: 160vh !important;
}
.shop-div-tall-bg-2:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}
.shop-div-tall-bg-2 {
    border-radius: 9px  !important;
    position: relative;
    //width:  120px;
    height: 200px;
    background-color: #dddddd;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-position: center;
}

.shop-card-tall-title-2 {
    width: 100px;
    padding:0px 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; // This is where the magic happens

    font-style: roboto;
    font-size: 24px;
    font-weight: 400;

    color: #FFFFFF;
    position: absolute;
    top: 45%;
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 100%;
    text-align: center;
}
.shop-card-tall-star-2 {
    width: 133px !important;
    height:133px !important;

    padding:0px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; // This is where the magic happens
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    position: absolute;
    top: 55%;
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 100%;
    text-align: center;
}


.music-card0  {
  position: relative;
  width: 150px !important;
  height:90px !important;
  margin-top: 20px;
  float: right !important;
  background-color: #dddddd;
  border-radius: 8px  !important;
 
  }
 
  .music-card0-bg:before {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
  }
  .music-card0-bg {
      position: relative;
      height: 90px;
  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-size: cover;
      background-position: center;
  }
  .music-card0-bg .card2-title {
      width: 100px;
      padding:0px 5px;
 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; // This is where the magic happens
 
      font-style: roboto;
      font-size: 16px;
      font-weight: 400;
 
      color: #FFFFFF;
      position: absolute;
      top: 25%;
      text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      width: 100%;
      text-align: center;
  }
 
  .music-card0-bg .card2-star {
      width: 179px !important;
      height:50px !important;
      padding:0px 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; // This is where the magic happens
      font-style: roboto;
      font-size: 17px;
      font-weight: 600;
      color: #FFFFFF;
      position: absolute;
      top: 60%;
      text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      width: 100%;
      text-align: center;
  }



.music-main-h-card{
 display: inline-block;
 border-radius: 9px  !important;
 -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0)  !important;
 box-shadow: 0 4px 16px rgba(0,0,0,0) !important;
}

.music-card1  {
 position: relative;
 width: 295px !important;
 
// height:285px !important;
 margin: 0px 5px 0px 5px !important;

 //min-height: 150vh !important;
 //max-height: 160vh !important;
 
 }
 // .card-tall  .card-tall-bg{
 //     height: 230px; 
 // }
 .music-card1-bg:before {
     content: ' ';
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background-size: cover;
     background-position: center;
 }
 .music-card1-bg {
     position: relative;
     height: 158px;
     background-color: #dddddd;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-size: cover;
     background-position: center;
     border-radius: 8px  !important;
 }

 .music-card1-bg .card1-title {
     width: 100px;
     padding:0px 5px;

     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis; // This is where the magic happens

     font-style: roboto;
     font-size: 16px;
     font-weight: 400;

     color: #FFFFFF;
     position: absolute;
     top: 30%;
     text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     width: 100%;
     text-align: center;
 }

 .music-card1-bg .card1-star {
     width: 133px !important;
     height:133px !important;

     padding:0px 5px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis; // This is where the magic happens
     font-size: 16px;
     font-weight: normal;
     color: #FFFFFF;
     position: absolute;
     top: 60%;
     text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     width: 100%;
     text-align: center;
 }


// ************ Category card ************//  
.music-card2  {
 position: relative;
 width: 250px !important;
 height:180px !important;
 margin-top: 20px;
 float: right !important;
 background-color: #dddddd;
 border-radius: 8px  !important;

 }

 .music-card2-bg:before {
     content: ' ';
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background-size: cover;
     background-position: center;
 }
 .music-card2-bg {
     position: relative;
     height: 180px;
 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-size: cover;
     background-position: center;
 }
 .music-card2-bg .card2-title {
     width: 100px;
     padding:0px 5px;

     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis; // This is where the magic happens

     font-style: roboto;
     font-size: 16px;
     font-weight: 400;

     color: #FFFFFF;
     position: absolute;
     top: 25%;
     text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     width: 100%;
     text-align: center;
 }

 .music-card2-bg .card2-star {
     width: 179px !important;
     height:77px !important;
     padding:0px 5px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis; // This is where the magic happens
     font-style: roboto;
     font-size: 17px;
     font-weight: 600;
     color: #FFFFFF;
     position: absolute;
     top: 60%;
     text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     width: 100%;
     text-align: center;
 }


// ************ Promotion card ************//  
 .music-card3  {
     position: relative;  
     width: 201px !important;
     height:357px !important;
     // padding-left:16px;
     margin: 0px 5px 0px 5px !important;
     
     //min-height: 150vh !important;
     //max-height: 160vh !important;
 
 }

 .music-card3-bg:before {
     content: ' ';
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background-size: cover;
     background-position: center;
 }
 .music-card3-bg {
     position: relative;
     width: 100%;
     height: 200px;
     background-color: #dddddd;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-size: cover;
     background-position: center;
     border-radius: 8px  !important;
 }
 .music-card3-bg .card3-title {
     width: 100px;
     padding:0px 15px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis; // This is where the magic happens
     font-size: 17px;
     font-weight: 600;
     color: #FFFFFF;
     position: absolute;
     top: 25%;
     text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     width: 100%;
     text-align: center;
 }

// ************ Category card ************//  
.music-card4  {
 position: relative;  
 width: 100% !important;
 height:150px !important;
 // padding-left:16px;
 margin: 0px 5px 0px 5px !important;
 
 //min-height: 150vh !important;
 //max-height: 160vh !important;

}

.music-card4-bg:before {
 content: ' ';
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 background-size: cover;
 background-position: center;
}
.music-card4-bg {
 position: relative;
 width: 100%;
 height: 150px;
 background-color: #dddddd;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-size: cover;
 background-position: center;
 border-radius: 8px  !important;
}
.music-card4-bg .card4-title {
 width: 100px;
 padding:0px 15px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis; // This is where the magic happens
 font-size: 17px;
 font-weight: 600;
 color: #FFFFFF;
 position: absolute;
 top: 25%;
 text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 width: 100%;
 text-align: center;
}



/* Inicio */

.title-intro{
  color: white;
}
  .lupa{
    transform: scale(1.15);
  }
  


ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  .letterinicio{
    letter-spacing: -1px;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #2c2a2ae8;
  }
  
  .swiper-container {
    width: 100%;
    //height: 100px;
    margin: 5px auto;
    float: right !important;
    text-align: end !important;
  }
  .swiper-slide {
    width: auto;
    text-align: left;
  }
  .swiper-pagination-bullets {
  bottom: -20px;
  left: 0;
  width: 100%;
  }
  
  
  .transparent{
    --background: rgba(0,0,0,0);
    --border-color: rgba(0,0,0,0);
  }
  ion-row{
    ion-card{
        width:100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    img{
        width:100%;
    }
  }
  }
  
  .card1-padding{
    padding: 12px 10px !important;
    //margin: 0px !important;
  }
  
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-menu.md ion-list {
    padding: 20px 0;
  }
  
  ion-menu.md ion-note {
    margin-bottom: 30px;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }
  
  ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
  
    min-height: 20px;
  }
  
  ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
  
    margin-bottom: 18px;
  
    color: var(--ion-color-personalize);;
  
    min-height: 26px;
  }
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
  }
  
  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-personalize));
  }
  
  ion-menu.md ion-item.selected ion-icon {
    color: black;
  }
  
  ion-menu.md ion-item ion-icon {
    color: #616e7e;
  }
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-personalize);
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }
  
  ion-note {
    display: inline-block;
    font-size: 16px;
  
    color: var(--ion-color-personalize);
  }
  
  ion-item.selected {
    --color: black;
  }
  
  
  
  .borde{
    height: 65px;
    width: 100%;
    background-color: white;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    position: absolute;
  z-index: 1;
  transform: rotate(180deg)
  }
  
  ion-toolbar:last-child.show-liner {
    --border-width: 0 0 0.55px;
  }
  ion-col {
      padding: 5px 5px 0px 5px; 
  }
  .content{
          background-color: #ddd;
  }
  ion-card.cardGrid{
    position: relative;
    text-align: center;
    margin: 12px 10px 0px 0px !important;
    width: 100% !important;
  }
  // ************ Main card ************//
  ion-card {
    //display: inline-block;
    border-radius: 9px !important;
    // -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0)  !important;
    // box-shadow: 0 4px 16px rgba(0,0,0,0) !important;
  }
  // ************ Wide card ************//
  .card-wide {
    // border-radius: 4px  !important;
    // width: 100% !important;
    height: 157px !important;
    margin: 3px 3px 0px 3px !important;
    background-color: #dddddd;
    // min-height: 150vh !important;
    // max-height: 160vh !important;
  }
  .card-wide-bg:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }
  .card-wide-bg {
    position: relative;
    height: 157px;
    background-color: #dddddd;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-position: center;
  }
  .card-wide-bg .card-wide-title {
    width: 100px;
    padding: 0px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; // This is where the magic happens
    font-size: 22px;
    font-style: roboto;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    top: 25%;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 100%;
    text-align: center;
  }
  .card-wide-bg .card-wide-sub-title {
    width: 100px;
    padding: 0px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; // This is where the magic happens
    font-size: 18px;
    font-style: roboto;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    top: 42%;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 100%;
    text-align: center;
  }
  
  /* /////////////////////////////////////// */
  
  .fade-in {
      -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* ----------------------------------------------*/
.slide-right {
  -webkit-animation: slide-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

  
  


/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
