<ion-item lines="none" class="space">
  <label>
   <h1 class="letterinicio thebestalbums">The Best Albums</h1>
  <!-- ///Add elements to  database -->
   <!--  <ion-button color="" fill="blank" expand="full" (click)="agg()">agg</ion-button>
    <br><br> -->
  </label>
  </ion-item>
  
  
    <ion-slides class="swiper-container" pager= false [options]="slideOption" #slidesOne style="margin-top:-40px !important;" >
      <ion-slide *ngFor="let popular of Popular | async " (click)="openDetail('music-album-detail',popular.id)">
        <ion-card class="music-main-h-card music-card0 slide-left fade-in-left"  >
        
              <div class="music-card0-bg ion-text-uppercase" [ngStyle]="{'background-image': 'url(' + popular.image+ ')'}" >
                  <h2 class="card2-title">   <br><br><br>{{popular.name}}</h2>                           
              </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    
    <br><br><br><br><br><br>